.App {
  text-align: center;
}

a {
  color: white;
  outline: none;
}

a:hover {
  color: rgb(27, 27, 27);
}

h1 a {
  color: rgb(218, 182, 23);
}

h1 a:hover {
  color: rgb(27, 27, 27);
}

.nav-link {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

nav {
  display: flex;
  justify-content: space-around;
  align-content: center;
  min-height: 10vh;
  background: rgb(51, 74, 82);
  color: white;
}